<div class="content" role="main">

  <section class="user-filter">
    <label for="input-field">Filter Users by Name</label>
    <input type="search" placeholder="Search by first name" [formControl]="filterUserCtrl" />
  </section>

  <div class="user-list">
    <div class="header">
      <span class="cell firstname">First name</span>
      <span class="cell lastname">Last name</span>
      <span class="cell age">
        <span>Age</span>
        <i class="fa sorting" [title]="sortAge === 'asc' ? 'Ascending' : 'Descending'"
          [ngClass]="{'fa-sort-asc': sortAge === 'asc', 'fa-sort-desc': sortAge === 'desc'}" (click)="ageSorting()"></i>
      </span>
      <span class="cell action">Action</span>
    </div>
    <ng-container *ngIf="filteredUsers.length !== 0 && filteredUsers.length > 0 else noData">
      <ul>
        <li class="row" *ngFor="let user of filteredUsers">
          <div class="user-details">
            <span class="cell firstname">{{user.firstname}}</span>
            <span class="cell lastname">{{user.lastname}}</span>
            <span class="cell age">{{user.age}}</span>
            <span class="cell action">
              <i class="fa fa-plus-circle" title="Add additional user info"
                (click)="openModal(moreDetailsModal, user)"></i>
              <i class="fa fa-info-circle" title="Preview user info" (click)="expandCollapse(user.id)"></i>
            </span>
          </div>
          <div class="preview-user-info" @fadeInOut *ngIf="expandUserInfo[user.id]">
            <div class="preview-row">
              <span class="header">Address:</span>
              <span class="preview-value">{{user?.data?.address || ' / '}}</span>
            </div>
            <div class="preview-row">
              <span class="header">City:</span>
              <span class="preview-value">{{user?.data?.city || ' / '}}</span>
            </div>
            <div class="preview-row">
              <span class="header">Country:</span>
              <span class="preview-value">{{user?.data?.country || ' / '}}</span>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #noData>
      <span>Results are empty for <strong>{{filterUserCtrl.value}}</strong></span>
    </ng-template>
    <div class="footer" *ngIf="filteredUsers.length > 0">Result:{{filteredUsers.length}}</div>
  </div>
</div>


<ng-container *ngTemplateOutlet="activeModal; context: {data: modalContext}"></ng-container>

<!-- CREATE CUSTOM SPORT POPUP -->
<ng-template #moreDetailsModal let-user="data">
  <app-add-user-details (closeModal)="closeModal()" [userData]="user"></app-add-user-details>
</ng-template>
